body {
    background-color: #FCEBB6;
    color: #221811;
    font-family:Verdana;
    background-image:url("../images/Lab8_pics/background.gif");
}
h1 {
    background-color: #D2B48C;
    height:100px;
    background-image:url("../images/Lab8_pics/javajamlogo.jpg");
    background-repeat:no-repeat;
}
h1 {
    padding-left:220px;
    font-size:3em;
    padding-top:45px;
}
nav {
    text-align:center;
    font-weight: bold;
    font-size:1.5em;
    padding-top:10px;
    text-decoration: none;
}
footer {
    background-color: #D2B48C;
    font-size:.60em;
    font-style:italic;
    text-align: center;
    padding-bottom:10px;
    border-top:solid 2px #221811;
}
#wrapper {
    background-color:#FEF6C2;
    min-width:900px;
    max-width:1280px;
    box-shadow: 3px 5px #000;
    width: 80%;
    margin-right: auto;
    margin-left:  auto;
}
h4{
    background-color:#D2B48C;
    font-size:1.2em;
    padding-left:0.5em;
    padding-bottom:0.25em;
}
main{
padding-left:2em;
padding-right:2em;
padding-bottom:2em;
display: block;
}
.details{
    padding-left:20%;
    padding-right:20%;
}
img{
    padding-left:10px;
    padding-right:10px;
}